<header id="main-header" class="py-2 bg-info text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>
                    <i class="fas fa-user"></i> Editar Cliente
                </h1>
            </div>
        </div>
    </div>
</header>

<form #clienteForm="ngForm" (ngSubmit)="guardar(clienteForm)">

    <flash-messages></flash-messages>


    <section id="actions" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a routerLink="/" class="btn btn-light btn-block">
                        <i class="fas fa-arrow-left"></i> Regresar al Inicio
                    </a>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-success btn-block">
            <i class="fas fa-check"></i> Guardar Cliente
          </button>
                </div>
                <div class="col-md-3">
                    <a href="#" (click)="eliminar()" class="btn btn-danger btn-block">
                        <i class="fas fa-trash"></i> Eliminar Cliente
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="details">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h4>Editar Cliente</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input type="text" name="nombre" class="form-control" #nombre="ngModel" [(ngModel)]="cliente.nombre" [ngClass]="{'is-invalid': nombre.errors && nombre.touched}" required minlength="2">
                                <div [hidden]="!nombre.errors?.required" class="invalid-feedback">
                                    Nombre requerido
                                </div>
                                <div [hidden]="!nombre.errors?.minlength" class="invalid-feedback">
                                    Debe contener al menos 2 caracteres
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="apellido">Apellido</label>
                                <input type="text" name="apellido" class="form-control" #apellido="ngModel" [(ngModel)]="cliente.apellido" [ngClass]="{'is-invalid': apellido.errors && apellido.touched}" required minlength="2">
                                <div [hidden]="!apellido.errors?.required" class="invalid-feedback">
                                    Apellido requerido
                                </div>
                                <div [hidden]="!apellido.errors?.minlength" class="invalid-feedback">
                                    Debe contener al menos 2 caracteres
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" class="form-control" #email="ngModel" [(ngModel)]="cliente.email" [ngClass]="{'is-invalid': email.errors && email.touched}" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
                                <div [hidden]="!email.errors?.required" class="invalid-feedback">
                                    Email requerido
                                </div>
                                <div [hidden]="!email.errors?.pattern" class="invalid-feedback">
                                    Email no es válido
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="saldo">Saldo</label>
                                <input type="number" name="saldo" class="form-control" #saldo="ngModel" [(ngModel)]="cliente.saldo" [ngClass]="{'is-invalid': saldo.errors && saldo.touched}" required>
                                <div [hidden]="!saldo.errors?.required" class="invalid-feedback">
                                    Saldo requerido
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</form>