<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
    <div class="container">
        <a routerLink="/" class="navbar-brand">Control Clientes</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul *ngIf="isLoggedIn" class="navbar-nav">
                <li class="nav-item px-2">
                    <a routerLink="/" class="nav-link">Inicio</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li *ngIf="isLoggedIn" class="nav-item dropdown mr-3">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <i class="fas fa-user"></i>Bienvenido {{ loggedInUser }}
                    </a>
                    <div class="dropdown-menu">
                        <a routerLink="/configuracion" class="dropdown-item">
                            <i class="fas fa-cog"></i> Configuración
                        </a>
                    </div>
                </li>

                <li *ngIf="!isLoggedIn && permitirRegistro" class="nav-item">
                    <a routerLink="/login" class="nav-link" routerLinkActive="router-link-active">
                        <i class="fas fa-user"></i> Login
                    </a>
                </li>

                <li *ngIf="!isLoggedIn && permitirRegistro" class="nav-item">
                    <a routerLink="/registrarse" class="nav-link" routerLinkActive="router-link-active">
                        <i class="fas fa-user"></i> Registro
                    </a>
                </li>

                <li *ngIf="isLoggedIn" class="nav-item">
                    <a style="cursor: pointer" (click)="logout()" class="nav-link">
                        <i class="fas fa-user-times"></i> Salir
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>